// Inline image mixin
$inline-images-selectors: ();

// Create extendable for all included images
@each $name, $uri in $inline-images {
    $image-selector: unique-id();
    $inline-images-selectors: map-merge($inline-images-selectors, (#{$name}: $image-selector)) !global;

    @at-root %#{$image-selector} {
        background-image: url('#{$uri}');
        background-size: 100%;
    }
}

// Add the current class to the extend and add the content to the
@mixin inline-image($name) {
    $image-selector: map-get($inline-images-selectors, $name);
    @extend %#{$image-selector};

    @content;
}
