// Inline image mixin
$inline-images-selectors: ();

@each $name, $url in $inline-images {
    $image-selector: unique-id();
    $inline-images-selectors: map-merge($inline-images-selectors, (#{$name}: $image-selector)) !global;

    @at-root %#{$image-selector} {
        $image-uri: map-get($inline-images, $name);
        background-image: url('#{$image-uri}');
        background-size: 100%;
    }
}

@mixin inline-image($name) {
    $image-selector: map-get($inline-images-selectors, $name);
    @extend %#{$image-selector};
    @content;
}
